In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
%matplotlib inline

In [20]:
# Reading SPY returns

spy_returns_csv = Path("./spy_data_frame.csv")
spy_hourly_data_df = pd.read_csv(spy_returns_csv, index_col="date", infer_datetime_format=True, parse_dates=True)
spy_hourly_data_df.head(15)

                         high       low      open     close    volume
date
2019-09-18 15:30:00  301.2200  300.0050  300.0050  301.0900  10191171
2019-09-18 14:30:00  300.3575  298.5257  298.5720  300.0220  24600903
2019-09-18 13:30:00  300.5200  298.5700  299.6800  298.7800  15185359
2019-09-18 12:30:00  300.2450  299.6600  300.1550  299.6900   3569031
2019-09-18 11:30:00  300.2400  300.0200  300.1400  300.1500   3181030
2019-09-18 10:30:00  300.5700  300.1000  300.5000  300.1400   4130207
2019-09-18 09:30:00  300.8166  300.1260  300.4959  300.5159   7099381
2019-09-17 15:30:00  301.0200  300.4100  300.4350  300.9400   6118041
2019-09-17 14:30:00  300.4500  300.1600  300.1950  300.4400   4474781
2019-09-17 13:30:00  300.6000  300.0800  300.0900  300.2000   4989877
2019-09-17 12:30:00  300.2500  299.9300  300.1300  300.1000   3135163
2019-09-17 11:30:00  300.4700  299.9800  300.2700  300.1200   3212445
2019-09-17 10:30:00  300.5700  299.9700  300.1650  300.2700   5084341
2019-09-17 09:30:00  300.3900  299.7500  299.9400  300.1700  11200221
2019-09-16 15:30:00  300.3100  299.9700  300.0800  300.1600   6585705

In [22]:
spy_hourly_data_df.reset_index(inplace=True)
spy_hourly_data_df['time'] = spy_hourly_data_df['date'].dt.time
spy_hourly_data_df.head()

,date,high,low,open,close,volume,time
0,2019-09-18 15:30:00,301.2200,300.0050,300.005,301.090,10191171,15:30:00
1,2019-09-18 14:30:00,300.3575,298.5257,298.572,300.022,24600903,14:30:00
2,2019-09-18 13:30:00,300.5200,298.5700,299.680,298.780,15185359,13:30:00
3,2019-09-18 12:30:00,300.2450,299.6600,300.155,299.690,3569031,12:30:00
4,2019-09-18 11:30:00,300.2400,300.0200,300.140,300.150,3181030,11:30:00

In [21]:
spy_1530_data_df.dtypes

date      datetime64[ns]
high             float64
low              float64
open             float64
close            float64
volume             int64
time              object
dtype: object

In [30]:
#spy_1530_data_df = spy_hourly_data_df[spy_hourly_data_df.time.isin(["15:30:00"])]
#spy_1530_data_df = spy_hourly_data_df[spy_hourly_data_df['time']=="13:30:00"]
spy_1530_data_df = spy_hourly_data_df.iloc[::7]
spy_1430_data_df = spy_hourly_data_df.iloc[1::7]
spy_1330_data_df = spy_hourly_data_df.iloc[2::7]
spy_1230_data_df = spy_hourly_data_df.iloc[3::7]
spy_1130_data_df = spy_hourly_data_df.iloc[4::7]
spy_1030_data_df = spy_hourly_data_df.iloc[5::7]
spy_0930_data_df = spy_hourly_data_df.iloc[6::7]

In [32]:
spy_1530_data_df.head()

                  date    high      low     open   close    volume      time
0  2019-09-18 15:30:00  301.22  300.005  300.005  301.09  10191171  15:30:00
7  2019-09-17 15:30:00  301.02  300.410  300.435  300.94   6118041  15:30:00
14 2019-09-16 15:30:00  300.31  299.970  300.080  300.16   6585705  15:30:00
21 2019-09-13 15:30:00  301.37  300.930  300.950  301.05   8657614  15:30:00
28 2019-09-12 15:30:00  302.09  301.270  301.960  301.27   8644319  15:30:00