In [1]:
import requests
import os
import json
import pandas as pd

In [2]:
alpha_vantage_key = os.environ.get('alpha_vantage_key')
type(alpha_vantage_key)

str

In [3]:
SPYRespone = requests.get("https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=SPY&interval=5min&outputsize=full&apikey="+alpha_vantage_key)

In [4]:
SPY_date = []
SPY_high = []
SPY_low = []
SPY_open = []
SPY_close = []
SPY_volume = []

for k in SPYRespone.json()["Time Series (5min)"].keys():
    SPY_date.append(k)
    SPY_open.append(SPYRespone.json()["Time Series (5min)"][k]['1. open'])
    SPY_high.append(SPYRespone.json()["Time Series (5min)"][k]['2. high'])
    SPY_low.append(SPYRespone.json()["Time Series (5min)"][k]['3. low'])
    SPY_close.append(SPYRespone.json()["Time Series (5min)"][k]['4. close'])
    SPY_volume.append(SPYRespone.json()["Time Series (5min)"][k]['5. volume'])
    
zippedList =  list(zip(SPY_date, SPY_high, SPY_low, SPY_open, SPY_close, SPY_volume))
concat_dataframe = pd.DataFrame(zippedList, columns = ['date' , 'high', 'low', 'open', 'close', 'volume'])
five_min_spy_data_frame = concat_dataframe.set_index(pd.DatetimeIndex(concat_dataframe['date'])).drop(columns = 'date')
five_min_spy_data_frame.head()

                         high       low      open     close   volume
date
2019-09-18 16:00:00  301.1800  300.8800  300.9200  301.0900  2605861
2019-09-18 15:55:00  301.1150  300.7800  301.0700  300.9300  1530074
2019-09-18 15:50:00  301.2200  300.8700  301.1100  301.0750  1008101
2019-09-18 15:45:00  301.1500  300.7700  300.8371  301.1099  1331434
2019-09-18 15:40:00  300.8600  300.6800  300.8100  300.8300  1685182

In [5]:
five_min_spy_data_frame.to_csv("five_min_spy_data_frame")

In [29]:
spy_df = five_min_spy_data_frame.reset_index()

In [67]:
spy_date_list = []
for row in spy_df['date']:
    spy_date_list.append(row)

In [68]:
row_num = 0
for row in spy_date_list:
    spy_date_list[row_num] = spy_date_list[row_num].strftime("%m/%d/%Y, %H:%M:%S")
    row_num += 1